@import "tailwindcss";

@font-face {
  font-family: title;
  src: url('./fonts/songer/SONGER_C_Bold.otf');
}
@font-face {
  font-family: paragraph;
  src: url('./fonts/songer/SONGER_C_Regular.otf');
}

body{
  color: aliceblue;
  font-family: paragraph;
}

@keyframes subtle-move {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}


h1, h2{
  font-family: title;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.shadow-dance-text {
  color: #fff;
  text-shadow: 5px 5px 0 #ea00ff, 10px 10px 0 #8800ff;
  animation: shadow-dance 2s infinite;
}

@keyframes shadow-dance {
  0%, 100% {
      text-shadow: 5px 5px 0 #ea00ff, 10px 10px 0 #8800ff;
  }
  50% {
      text-shadow: -5px -5px 0 #8800ff, -10px -10px 0 #ea00ff;
  }
}