@import "tailwindcss";

@font-face {
  font-family: title;
  src: url('./fonts/songer/SONGER_C_Bold.otf');
}
@font-face {
  font-family: paragraph;
  src: url('./fonts/songer/SONGER_C_Regular.otf');
}

body{
  background-color: #242424;
  color: aliceblue;
  font-family: paragraph;
}

h1, h2{
  font-family: title;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}